{% from "zenweb/form/layout.html.njk" import formRender, formStyle %}

{{formStyle()}}

<div style="max-width:500px;margin: 10px auto;">
  {% if ok %}
  <div style="background-color:#138515;color:#fff;padding:5px;text-align:center;margin-bottom:20px;">提交完成！</div>
  {% endif %}

  <form method="POST" action="">
    {{ formRender(form, input) }}
    <button type="submit">提交</button>
  </form>
</div>
