{% macro formStyle() %}
<style>
.zenform-item {
  margin-bottom: 15px;
}
.zenform-item-field {
  display: flex;
  flex-direction: column;
}
.zenform-item-error {
  font-size: 80%;
  color: #ff0000;
}
.zenform-item-help {
  font-size: 80%;
  color: #909399;
}
</style>
{% endmacro %}

{% macro formScript() %}
  
{% endmacro %}

{% macro formFields(form, input) %}
  {% for item in form.layout -%}
    {%- set field = form.fields[item] -%}
    {%- set value = input[item]|default(field.default) -%}
    <div class="zenform-item">
      <div class="zenform-item-field">
        {% include "./fields/" + field.type + ".html.njk" -%}
      </div>
      {%- if form.errors and form.errors[item] %}
        <div class="zenform-item-error">{{form.errors[item]}}</div>
      {% endif -%}
      {%- if field.help %}
        <div class="zenform-item-help">{{field.help}}</div>
      {% endif -%}
    </div>
  {% endfor %}
{% endmacro %}
