{% macro eachOption(value, choices, parent, level=0) -%}
  {% for r in choices -%}
    {% if r.parent == parent %}
      <option value="{{r.value}}"
        {%- if value and r.value == value %} selected{% endif -%}
        {%- if r.disabled %} disabled{% endif -%}
      >{% for i in range(0, level) %}　{% endfor %}{{r.label}}</option>
      {{- eachOption(value, choices, r.value, level+1) -}}
    {%- endif %}
  {%- endfor %}
{%- endmacro %}

{%- include './label.inc.html.njk' %}
<div class="zenfrom-layout">
  <select name="{{name}}" id="form_{{name}}">
    {{- eachOption(value, field.choices)}}
  </select>
</div>