{% include './label.inc.html.njk' %}
<input class="form-control" type="date" id="form_{{name}}" name="{{name}}" value="{{value}}"
  {%- if field.placeholder %} placeholder="{{field.placeholder}}"{% endif -%}
  {%- if field.readonly %} readonly{% endif -%}
/>