{% include './label.inc.html.njk' %}
<input type="datetime-local" id="form_{{item}}" name="{{item}}"
  {%- if value %} value="{{value}}"{% endif %}
  {%- if field.placeholder %} placeholder="{{field.placeholder}}"{% endif -%}
  {%- if field.readonly %} readonly{% endif -%}
/>