{% include './label.inc.html.njk' %}
<input id="form_{{item}}" name="{{item}}"
  {%- if value %} type="hidden" value="{{value}}"
  {% else %} type="file"{% endif -%}
/>
{% if value %}
  <div id="form_{{item}}_uploaded" class="form-upload-uploaded">
    <button type="button" class="form-upload-delete" data-name="{{item}}">删除</button>
    已上传文件: {{value}}
  </div>
{% endif %}