{% include './label.inc.html.njk' %}
<input id="form_{{name}}" name="{{name}}"
  {%- if value %} type="hidden" value="{{value}}"
  {% else %} type="file"{% endif -%}
  {%- if field.accept %} accept="{{field.accept}}"{% endif %}
  {%- if field.maxFiles > 1 %} data-max-files="{{field.maxFiles}}" multiple{% endif -%}
/>
{% if value %}
  <div id="form_{{name}}_uploaded" class="form-upload-uploaded">
    <button type="button" class="form-upload-delete" data-name="{{name}}">删除</button>
    已上传文件: {{value}}
  </div>
{% endif %}