{% include './label.inc.html.njk' %}
<div>
  {% if not field.required %}
    <input type="radio" name="{{name}}" id="form_{{name}}_empty" value=""
      {%- if not value or '' == value %} checked {% endif -%}
    />
    <label for="form_{{name}}_empty">不选</label>
  {% endif %}
  {% for r in field.choices -%}
    <input type="radio" name="{{name}}" id="form_{{name}}_{{loop.index}}" value="{{r.value}}"
      {%- if value and r.value == value %} checked {% endif -%}
    />
    <label for="form_{{name}}_{{loop.index}}">{{r.label}}</label>
  {% endfor -%}
</div>