{% include './label.inc.html.njk' %}
{%- set __v = '' if value === undefined else value|string -%}
<div>
  {% if not field.required %}
    <input type="radio" name="{{name}}" id="form_{{name}}_empty" value=""
      {%- if '' == __v %} checked {% endif -%}
    />
    <label for="form_{{name}}_empty">不选</label>
  {% endif %}
  {% for r in field.choices -%}
    <input type="radio" name="{{name}}" id="form_{{name}}_{{loop.index}}" value="{{r.value}}"
      {%- if r.value|string == __v %} checked {% endif -%}
    />
    <label for="form_{{name}}_{{loop.index}}">{{r.label}}</label>
  {% endfor -%}
</div>