{% include './label.inc.html.njk' %}
{%- set __v = '' if value === undefined else value|string -%}
<select name="{{name}}" id="form_{{name}}">
  {% if not field.required %}
    <option></option>
  {% endif %}
  {% for r in field.choices -%}
    <option value="{{r.value}}"
      {%- if r.value|string == __v %} selected{% endif -%}
      {%- if r.disabled %} disabled{% endif -%}
    >{{r.label}}</option>
  {% endfor -%}
</select>