<label for="form_{{item}}">{{field.label}}</label>
<input type="time" id="form_{{item}}" name="{{item}}"
  {%- if value %} value="{{value}}"{% endif %}
  {%- if field.placeholder %} placeholder="{{field.placeholder}}"{% endif -%}
  {%- if field.readonly %} readonly{% endif -%}
/>