<label for="form_{{item}}">{{field.label}}</label>
<input type="datetime-local" id="form_{{item}}"
  {%- if field.default %} value="{{field.default}}"{% endif %}
  {%- if field.placeholder %} placeholder="{{field.placeholder}}"{% endif -%}
/>